POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=regulas
POSTGRES_USER=regulas
POSTGRES_PASSWORD=regulas
DATABASE_CONNECTION_STRING=Host=localhost;Port=5432;Database=regulas;Username=regulas;Password=regulas
FMP_API_KEY=
POKEMON_TCG_API_KEY=
