.dashboardMain {
  margin-left: 16rem;
  min-height: 100vh;
  padding: 2rem;
  transition: margin-left 0.3s;
  width: calc(100% - 16rem);
}

.dashboardSummary,
.dashboardDetails {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
  align-items: flex-start;
}

@media (max-width: 1024px) {
  .dashboardMain {
    margin-left: 0;
    padding: 4rem 1rem 2rem;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .dashboardSummary,
  .dashboardDetails {
    flex-direction: column;
    gap: 1.5rem;
  }
}
