.spinner {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 12rem;
  width: 100%;
}

.loader {
  animation: spin 0.8s linear infinite;
  border: 0.4rem solid hsl(var(--border));
  border-radius: 999px;
  border-top-color: hsl(var(--accent));
  display: block;
  height: 6rem;
  width: 6rem;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
